---
import { Separator } from "@/components/ui/separator";
import GitHub from "@/icons/GitHub.astro";
import { resolveBase } from "@/utils/resolve";
---

<footer
  class="border-t border-border relative bottom-0 flex flex-none items-center justify-between p-4 md:mt-10 w-full max-w-7xl mx-auto"
>
  <div class="flex h-4 text-center items-center space-x-2 text-sm">
    <a href={resolveBase("/")} class="grow-1 text-foreground hover:text-foreground/80">
      Home
    </a>
    <Separator orientation="vertical" />
    <a href={resolveBase("/notes/")}class="grow-1 text-foreground hover:text-foreground/80">
      Notes
    </a>
    <Separator orientation="vertical" />
    <a href={resolveBase("/tags/")} class="grow-1 text-foreground hover:text-foreground/80">
      Tags
    </a>
  </div>
  <div class="flex">
    <a
      href="https://github.com/alieron/labyrinth"
      class="text-foreground hover:text-foreground/80"
      target="_blank"
      rel="noreferrer"
      aria-label="github"
    >
      <GitHub class="size-5" />
    </a>
  </div>
</footer>
