---
import { resolveBase } from "@/utils/resolve";
---

<footer
  class="bottom-0 px-6 py-10 mt-4 flex items-center"
>
  <div class="flex h-4 text-center items-center space-x-2 text-sm mx-auto">
    <a
      href={resolveBase("/notes/")}
      class="grow-1 text-foreground hover:text-foreground/80"
    >
      nav
    </a>
    <span class="text-foreground/60">|</span>
    <a
      href="https://github.com/alieron/labyrinth"
      class="text-foreground hover:text-foreground/80"
      target="_blank"
      rel="noreferrer"
      aria-label="github"
    >
      github
    </a>
  </div>
</footer>
