---
import { BookOpen } from "lucide-react";
import { toSlug } from "@/utils/slug";

type Props = {
  path: string;
  isFolder?: boolean;
};

const { path, isFolder = false } = Astro.props;
const splitPath = path ? path?.split("/") : [];
let partialPath = "/notes";
---

<nav class="text-lg text-foreground items-center mb-6">
  <ul class="flex flex-wrap items-center gap-2">
    <li>
      {
        path.length === 0 ? (
          <BookOpen />
        ) : (
          <a
            href="/notes/"
            class="text-muted-foreground hover:text-primary"
            aria-label="notes"
          >
            <BookOpen />
          </a>
        )
      }
    </li>
    <li
      class=`${path.length !== 0 ? 'text-muted-foreground ' : ''}cursor-default`
    >
      /
    </li>
    {
      splitPath.map((part, idx) => {
        partialPath += `/${part}`;
        const isLast = idx === splitPath.length - 1;
        return isLast ? (
          <>
            <li>
              <span>{decodeURIComponent(part)}</span>
            </li>
            {isFolder && <li class="cursor-default">/</li>}
          </>
        ) : (
          <>
            <li>
              <a
                href={`${toSlug(partialPath)}/`}
                class="text-muted-foreground hover:text-primary"
              >
                {decodeURIComponent(part)}
              </a>
            </li>
            <li class="cursor-default">/</li>
          </>
        );
      })
    }
  </ul>
</nav>
