---
import { resolveBase } from "@/utils/resolve";
import { Hash } from "lucide-react";

type Props = {
  path: string;
  isFolder?: boolean;
};

const { path, isFolder = false } = Astro.props;
const splitPath = path ? path?.split("/") : [];
let partialPath = resolveBase("/tags");
---

<nav class="text-lg text-foreground items-center mb-6">
  <ul class="flex flex-wrap items-center gap-2">
    <li>
      {
        path.length === 0 ? (
          <Hash />
        ) : (
          <a
            href={resolveBase("/tags/")}
            class="text-muted-foreground hover:text-primary"
            aria-label="tags"
          >
            <Hash />
          </a>
        )
      }
    </li>
    <li
      class=`${path.length !== 0 ? 'text-muted-foreground ' : ''}cursor-default`
    >
      /
    </li>
    {
      splitPath.map((part, idx) => {
        partialPath += `/${part}`;
        const isLast = idx === splitPath.length - 1;
        return isLast ? (
          <>
            <li>
              <span>{part}</span>
            </li>
            {isFolder && <li class="cursor-default">/</li>}
          </>
        ) : (
          <>
            <li>
              <a
                href={partialPath}
                class="text-muted-foreground hover:text-primary"
              >
                {part}
              </a>
            </li>
            <li class="cursor-default">/</li>
          </>
        );
      })
    }
  </ul>
</nav>
