---
import { Hash } from "lucide-react";
import { Badge } from "@/components/ui/badge";
import { resolveBase } from "@/utils/resolve";

type Props = {
  tag: string;
};

const { tag } = Astro.props;
const splitTag = tag.split("/");
let partialTag = resolveBase("/tags");
---

<Badge className="bg-primary/10 text-primary dark:bg-primary/20">
  <Hash />
  <ul class="flex flex-wrap items-center gap-1">
    {
      splitTag.map((part, index) => {
        partialTag += `/${part}`;
        const notLast = index !== splitTag.length - 1;
        return (
          <>
            <li>
              <a
                href={partialTag}
                class="hover:text-foreground hover:underline"
              >
                {part}
              </a>
            </li>
            {notLast && <li class="cursor-default">/</li>}
          </>
        );
      })
    }
  </ul>
</Badge>
