---
import { Badge } from "@/components/ui/badge";
import { Hash } from "lucide-react";

type Props = {
  tag: string;
};

const { tag } = Astro.props;
const splitTag = tag.split("/");
---

<Badge className="bg-primary/10 text-primary dark:bg-primary/20">
  <Hash />
  <ul class="flex flex-wrap items-center gap-1">
    {
      splitTag.map((part, index) => {
        const notLast = index !== splitTag.length - 1;
        return (
          <>
            <li>
              <a
                class="hover:text-foreground hover:underline"
                href={`/tags/${splitTag.slice(0, index + 1).join("/")}`}
              >
                {part}
              </a>
            </li>
            {notLast && <li class="cursor-default">/</li>}
          </>
        );
      })
    }
  </ul>
</Badge>
