---
import { ChevronLeft, ChevronRight } from "lucide-react";
import BaseLayout from "./BaseLayout.astro";
import { ButtonLink } from "@/components/ui/button-link";

type Props = {
  prev?: string;
  next?: string;
};

const { prev, next } = Astro.props;
---

<BaseLayout>
  <div class="flex flex-1 my-0">
    {/* Left Sidebar */}
    <div class="sticky flex-none top-32 h-fit w-9 ml-6 mr-4 mt-14">
        {
          prev && (
            <ButtonLink variant="outline" size="icon" href={prev}>
              <ChevronLeft />
            </ButtonLink>
          )
        }
    </div>

    <div class="flex-1 overflow-y-auto mb-150">
      {/* Main Content */}
      <slot />
    </div>

    {/* Right Sidebar */}
    <div class="sticky flex-none top-32 h-fit w-9 mr-6 ml-4 mt-14">
        {
          next && (
            <ButtonLink variant="outline" size="icon" href={next}>
              <ChevronRight />
            </ButtonLink>
          )
        }
    </div>
  </div>
</BaseLayout>
