---
import { ChevronLeft, ChevronRight } from "lucide-react";
import Layout from "./Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <div class="flex flex-1 gap-4 my-0">
    {/* Left Sidebar */}
    <div class="sticky flex-none top-32 h-fit px-6 mt-4 mr-auto">
      <Button variant="outline" size="icon">
        <a href="#">
          <ChevronLeft />
        </a>
      </Button>
    </div>

    <div class="flex-1 max-w-5xl overflow-y-auto">
      {/* Title */}
      <div class="px-6 mb-10">
        <h1 class="text-3xl font-bold tracking-tight">Title Here</h1>
        <div
          class="mt-2 flex flex-wrap items-center gap-4 text-sm text-muted-foreground"
        >
          <span>Tags · Completion</span>
        </div>
      </div>

      {/* Main Content */}
      <slot />
    </div>

    {/* Right Sidebar */}
    <div class="sticky flex-none top-32 h-fit px-6 mt-4 ml-auto">
      <Button variant="outline" size="icon">
        <a href="#">
          <ChevronRight />
        </a>
      </Button>
    </div>
  </div>
</Layout>
